html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

header nav .main-menu {
    display: flex;
    text-align: center;
    justify-content: center;
}
header nav .main-menu li a {
    display: inline-block;
    padding: 26px 7px;
    color: #000;
}

header nav .main-menu li nav {
    display: none;
    position:absolute
}

header nav .main-menu li:nth-child(2):hover nav {
    display: block;
}